* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav-left-padding: .5rem;
  --logo-width:2rem;
  --text-box-padding: .5rem 3rem;
  --text-box-font-size: 1.5rem;
  --text-box-title-padding:.5rem 1rem;
  --text-box-content-padding:.5rem 2rem;
}

body {
  overflow-x: hidden;
}

nav {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  gap: 1.5rem;
  padding-left: var(--nav-left-padding);
  position: relative;
  z-index: 10;
}
nav a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
nav a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.main {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 150vh;
  align-items: center;
}

.logo {
  width: var(--logo-width);
  aspect-ratio: 1/1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  padding: 0.2rem;
  color: white;
  margin: 0 1rem;
  user-select: none;
}

.mobile-button {
  align-self: flex-start;
  padding-top: 0.5rem;
  position: sticky;
  font-size: 3rem;
  padding-left: 2rem;
  display: flex;
  gap: 1rem;
  height: 5vh;
  align-items: center;
  top: 1px;
  background-color: transparent;
}
.mobile-button > span {
  font-size: 2rem;
}

.text-box {
  width: 90vw;
  border: 1px solid pink;
  font-size: var(--text-box-font-size);
}
.text-box .text-box-title {
  font-size: 2rem;
  padding: var(--text-box-title-padding);
}
.text-box .text-box-content {
  padding: var(--text-box-content-padding);
}

@media only screen and (min-width: 992px) {
  :root {
    --nav-left-padding:3rem;
    --logo-width:3rem;
  }

  .card-arrow > span {
    font-size: 2rem;
  }

  .mobile-button {
    visibility: hidden;
  }
}