@import "./util";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --nav-left-padding: .5rem;
    --logo-width:3rem;
    --text-box-padding: .5rem 3rem;
    --text-box-font-size: 1.5rem;

    --text-box-title-padding:.5rem 1rem;
    --text-box-content-padding:.5rem 2rem;

}


body{
   overflow-x: hidden;
//    overflow: hidden;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    //font-size: 1.5rem;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;

    td, th {
        border: 1px solid white;
    }
    

  }

nav{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
    box-sizing: border-box;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    gap: 1.5rem;
    padding-left: var(--nav-left-padding);
    position: relative;
    z-index: 10;

    a:link {
        text-decoration: inherit;
        color: inherit;
        cursor: auto;
    }
    
    a:visited {
        text-decoration: inherit;
        color: inherit;
        cursor: auto;
    }
}
.main{
    background-color: white;
    // margin-top: 3rem;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    align-items: center;
    // border: 1px solid red;
    width: 100vw;
    position: relative;
}

.logo{
    width: var(--logo-width);
    aspect-ratio: 1/1;
    background-color: black;
    @include flex-and-center;
    box-sizing: content-box;
    padding: .2rem;
    color: white;
    margin: 0 1rem;
    user-select: none;
    
}


.mobile-button{
    user-select: none;
    z-index: 10000;
    align-self: flex-start;
    padding-top: .5rem;
    padding-bottom: .5rem;

    background-color: rgba(60, 64, 67, 0.3);
    justify-content: center;
    position: sticky;
    font-size: 3rem;
    // border: 1px solid red;
    margin-left: 2rem;
    display: flex;
    gap: 1rem ;
    height: 5vh;
    align-items: center;
    top:13px;
    // background-color: transparent;
    margin-top: 15px;

    
    > span{
        font-size: 
        2rem;
        // background-color: #fff;
        // background-color: rgba(255,255,255,0.5);
        color: whitesmoke

    }
}

.hyphen{
    hyphens:auto;
    -ms-hyphens:auto;

}

#side-bar{
    //overflow: auto;
    height: fit-content;
    ul{
        font-size: 1.5rem;
        padding: .5rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // height: 100%;
        
        // border: 1px solid red;
        gap: 0.1rem;

        li{
            &:hover{
                text-decoration: underline;
            }
        }
    

    }
}

.list-container{
    overflow: auto;
    height: 70vh;

    //align-self: flex-start;
    position: sticky;

    li[current]{
        color: red;
    }

    a{
        text-decoration: none;
        color: inherit;
    }
   
    

}



.side-bar{
    grid-column: 1/2;
    grid-row: 1/3;

    //border: 1px solid green;
    position: sticky;
    top: 1rem;
    left: 0;
    align-self: start;
    
    
    
    
}

.test{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: red;
}

.stik{
    position: sticky;
    top: 0;
}


.mobile-side-bar{
    padding-top: 2rem;
    height: 60vh;
    width: 80vw;
    //aspect-ratio: 1/1;
    background-color: white;
    display: none;
    z-index: 99;
    position: fixed;
    
    //padding: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;;
    //box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    
    
}

.hide{
    display: none;
}

.show{
    display:block;
    position:fixed;
}


.hero{
    background-color: rgba(255, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}


.hero-grid{
   //overflow-x: hidden;

    flex-grow: 1;
    
    display: grid;
    height: minmax(70vh, max-content);
    grid-template-columns: 25vw 70vw;
    grid-template-rows: 1fr 9vh;
    // border: 1px solid green;
    box-sizing: border-box;
    padding: 2rem .5rem;
}

.pages{
    grid-row-start: 2;
    grid-column-start: 2;
    //background-color: red;
    
    display: flex;
    align-items: center;
    padding: 0 1.5rem;

    .next, .prev{
        flex-grow: 1;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
    }

    .prev{
       justify-content: flex-end;
    }

    a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        &:hover{
            text-decoration: underline;
        }
    }
}

.one-point-five-rem-fs{
    font-size: 2rem;
    
    
}

.text-box{
    grid-column: 1/3;
    // grid-column-end: 2;
    //grid-row: 1/3;
    //grid-row: 1/3;
    // padding: var(--text-box-padding);
    // width: 90vw;
    box-sizing: border-box;
    //border: 1px solid pink;
    // background-color: red;
    font-size: var(--text-box-font-size);

    

    .text-box-title{
        font-size: 2rem;
       
        padding: var(--text-box-title-padding);
    }

    .text-box-content{
        overflow: auto;
        padding: var(--text-box-content-padding);
        
        //align-items: center;
        //justify-content: center;

        li{
            margin-bottom: 5px;
            margin-left: 1rem;
        }

        img{
            max-width: 100%;
            max-height: 100%;
            //width: 40vw;
            

        }

        &[flex]{
            display: flex;
            justify-content: center;
            padding: 3rem;
        }
        
    }
}

section{
    //border: 1px solid lightblue;
}

pre.code-box{
    overflow: auto;
    background-color: #1e1e1e;
    color : grey; 
    padding: var(--text-box-content-padding);
    margin: var(--text-box-content-padding);
    padding-top: 3rem;
    padding-bottom: 3rem;


}

#sub-list{
    //olor: orange;
    padding: .5rem 0  .5rem 1.5rem ;

    a{
        display: block;
    }
    

    a:link {
        text-decoration: inherit;
        color: inherit;
        cursor: auto;
    }
    
    a:visited {
        text-decoration: inherit;
        color: inherit;
        cursor: auto;
    }

    a:hover{
        text-decoration: underline;
    }
    
}

.inline-w{
    aspect-ratio: 1/1;
    background-color: black;
    color: white;
    width: 2rem;
    //font-size: 10rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    //@include flex-and-center;
}

code{
    background-color: rgba(222,222,222,0.3);
    text-decoration: none;
}

.footer{
    background-color: black;
    height: 20vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 30vw 70vw;
}

.footer-logo{
    user-select: none;
    grid-column-start: 1;
    @include flex-and-center;
    background-color: black;
    font-size: 3rem;
    border-right: 3px solid white;

    > div{
        border: 3px solid white;
        width: 4rem;
        aspect-ratio: 1/1;
        @include flex-and-center;
        color: white;
    }
}

.footer-semantic{
    // justify-self: stretch;
    grid-column-start: 2;
    // grid-column-end: 3;
    color: white;
    @include flex-and-center;
    gap: .5rem 1rem;
    flex-wrap: wrap;
    // border: 1px solid white;
    
    background-color: black;
    align-content: center;

    a{
        cursor: default;
        &:hover{
            text-decoration: underline;
        }
    }
    
}

@media only screen and (min-width: 769px) { //992
    :root{
        --nav-left-padding:3rem;
        --logo-width:3rem;
    }

    .card-arrow > span{
        font-size: 2rem;
    }

    .mobile-button{
        //visibility: hidden;
        display: none;
    }

    .side-bar{
        position: sticky;
        top: 1rem;
        align-self: start;
        //border: 1px dotted green;
    }

    .text-box{
        grid-column-start: 2;
    }

    

    .footer-semantic{
        gap: 2.5rem;
        font-size: 1.5rem;
        padding: .5rem;
    }

    
}

@media only screen and (max-height: 450px) { 
 nav{
     height: 20vh;
 }

 .footer{
    height: 30vh;
 }

 .footer-semantic{
     gap: 1rem 1.5rem;
 }

 .mobile-button{
     height: 10vh;
 }

 .list-container{
    //border: 1px solid blue;
 }

 .mobile-side-bar{
    height: 60vh;
 }

}