include ../template/nav
doctype html
- var itemInNav = ['About']
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=, initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="./css/doc_template.css")
        title Document
    body
        +nav(itemInNav)
        .main
            .mobile-button
                | <span class="material-icons">
                |    list
                |   </span>
                |<span class="material-icons">
                |arrow_upward
                |</span>
            block main
                 .text-box
                    .text-box-title The begining
                    .text-box-content.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus molestiae omnis quia quaerat nulla similique recusandae provident earum quo, aspernatur, mollitia veritatis sapiente laboriosam amet quibusdam labore pariatur at sit?

        .footer 
            block footer