-
    var chaptersList = ['An overview', 'Clauses', 'Variables'];


mixin listChapters (chapterInQuestion)
    ul
        for chapter of chaptersList 
            if chapter == chapterInQuestion
                a(href=getValidID(chapter)+".html") 
                    li(current)= chapter
                #sub-list
            else
                a(href=getValidID(chapter)+".html") 
                    li= chapter