:root{
    --block-padding: 0 16rem;
}


ul{
    padding: var(--card-body-padding);
}

li{
    margin-top: .5rem;
}

code{
    background-color: rgba(222,222,222,0.3);
}

.hero > .block {
    font-size: 1.5rem;
    padding: var(--block-padding);
    align-self: flex-start;

}

.hero > .block-title{
    align-self: flex-start; font-size: 2.5rem; font-family: 'Roboto Condensed', sans-serif;
}

.grey-out{
    color: #676867;
}

.red{
    color: red;
}

.gold{
    color: #C9A960;
}

.strgreen{
    color: #73C97D;
}

.green-notice{
    background-color: #98fb98;
    border-radius: 6px;
   

}

.equal-to{
    color: #505050;
}

.hotpink{
    color: hotpink;
}


.next{
    font-size: 4rem;
}

.next-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    
}

.next-preview-container{
    display: flex;
    font-size: 1rem;
}

.navigation-container{
    display: flex;
    
    width: 100%;
    padding: var(--block-padding);
    box-sizing: border-box;
    
}

.next-container > a{
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}










@media only screen and (min-width: 601px) and (max-width: 1025px) {
    ul{
        padding: 0rem 2.5rem;
    }

    :root{
        --block-padding: 0rem 1.5rem ;
    }

    
}

@media only screen and (max-width: 600px) {
ul{
    padding: 0rem 2.5rem;
}

:root{
    --block-padding: 0rem 1.25rem;
}
}
